.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #e1e3e4;
}

header {
  text-align: center;
  color: #14232b;
}

h1, h2, h3 {
  margin: 0.3em auto;
  text-align: center;
}

a {
  color: #3c948b;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
}

.center-group {
  text-align: center;
}

.name-list {
  list-style: none;
  margin: 0 auto;
  width: inherit;
  padding: 0;
  text-align: center;
  display: inline-block;
}

.name-list > button {
  margin: 0;
  padding: 0.5em;
  border-style: solid;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px;
  border-right: 1px #e1e3e4;
  display: block;
  float: left;
  border-radius: 0px;
}

.name-list > button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.name-list > button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: 0px;
}

.name-list button + button {
	border-left: 1px solid rgba(0, 0, 0, .1);
}

.list {
  text-align: center;
  padding-left: 0;
}

.list > ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5em;
}

.list > li:hover {
  background-color: rgba(60, 148, 139, 0.2);
}

.pairing {
  text-align: center;
}

.present {
  background-color: rgba(60, 148, 139, 1);
}

.present:hover {
  background-color: rgba(60, 148, 139, 0.2);
}

.absent {
  background-color: #944f3c;
}

.absent:hover {
  background-color: rgba(148, 79, 60, 0.4);
}
