body {
  font-family: 'Lato', sans-serif;
  background-color: #e1e3e4;
}

header {
  text-align: center;
  color: #14232b;
}

a {
  color: #3c948b;
  text-decoration: none;
}

.name-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.name-list > li {
  display: inline;
}

.list {
  text-align: center;
}

.list > ul {
  padding: 0;
}

li {
  list-style: none;
  padding: 0.5em;
}

.list > li:hover {
  background-color: rgba(60, 148, 139, 0.2);
}

button {
  border-radius: 5px;
  padding: 0.5em;
  border: none;
}

.present {
  background-color: rgba(60, 148, 139, 1);
}

.present:hover {
  background-color: rgba(60, 148, 139, 0.2);
}

.absent {
  background-color: #944f3c;
}
