<ul class="list">
  <li>
    {{#link-to 'pair'}}
      Pairing Generator
    {{/link-to}}
  </li>
  <li>
    <a href="https://verdigris.co">Company</a>
  </li>
  <li>
    <a href="https://app.verdigris.co">Analytics Dashboard</a>
  </li>
  <li>
    <a href="https://dashboard.verdigris.co">Lobby Dashboard</a>
  </li>
  <li>
    <a href="https://tracker.verdigris.co">Energy Tracker</a>
  </li>
</ul>
