<h3>Available</h3>
<ul class="name-list">
  {{#each model as |user|}}
    <li>
      <button class={{if user.here "present" "absent"}} {{action 'presentToggle' user}}>
        {{user.name}}
      </button>
    </li>
  {{/each}}
</ul>
<h3>Pairing</h3>
